<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:helioslyons@me.com">helioslyons@me.com</a>
            <a href="https://pdfhost.io/v/TuDR3HEe7_Microsoft_Word_Helios_CV_December_2021docx">resume</a>
            <a href="https://uk.linkedin.com/in/h%C3%A9lios-lyons-a274a7168">linkedin</a>
          </li>
          <li>
            <a href="https://github.com/haelyons">github</a>
            <a href="https://soundcloud.com/0x0c/tracks">soundcloud</a>
            <a href="https://www.instagram.com/wire.mane/">artefact art</a>
          </li>
        </ul>
      </section>

      <section>
        <p>
          What I’m thinking about at the moment: <br />
          <a href="https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow">Thinking, Fast and Slow</a> <br />
          <a href="https://arxiv.org/pdf/2104.12871.pdf">Why AI is harder than we think</a> <br />
          <a href="https://www.franceculture.fr/oeuvre/le-chant-de-la-machine">Le Chant de la Machine</a> <br />
          <a href="https://wanderinginn.com/">The Wandering Inn (Patreon Supporter)</a> <br />
        </p>

        <p>
          Driven by curiosity and a desire to build, I am searching for innovative ways to implement tools taking advantage of my multidisciplinary training in signal processing and software development.
          Building with constraints is something I value, and forms part of my methodology in implementing projects.
        </p>

        <p>
          Recently, it has become clear to me that signal processing is a fundamental tool for this new age of data. Understanding the uncertainity of data sets
          and the effect this has on modelling is something I am currently exploring as an intern at ACOPS in the context of instrumentation and measurement of
          underwater ambient noise to inform international regulatory discussions on this vital topic for conservation of the marine ecosystem.
        </p>

        <p>
          In my free time I play harp, explore artefacts in compression algorithms, compose music with Ableton Live and practice urban exploration. Over the course of 3rd Year (2020-2021) my personal projects included working on a short choice-based interactive film – Almost Human – and prototyping a live audio to haptic feedback device which would extend interaction with music for those with varying levels of hearing impairment – sknWaves.
        </p>
      </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
