<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:helioslyons@me.com">email</a>
            <a href="https://github.com/haelyons">github</a>
            <a href="https://imgur.com/gallery/n9XUmzZ">resume</a>
          </li>
          <li>
            <a href="https://uk.linkedin.com/in/h%C3%A9lios-lyons-a274a7168">linkedin</a>
            <a href="https://www.instagram.com/helios.lyons">instagram</a>
          </li>
        </ul>
      </section>

      <section>
        <p>
          Fascinated by all things audio, looking to develop innovative software,
          design sound and compose music for live and recorded media.

          Entering my 3rd year at the University of Leeds in Music, Multimedia
          and Electronics (BSc), I am focusing on interactive performance systems
          and sound design. I will achieve this through linking hardware such as
          the Kinect and Arduino with MaxMSP, C++, and better practice in DAWs
          such as Ableton Live and Pro Tools.

          This website was made to document my research process, track projects
          and foster new ideas.
        </p>
      </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
