<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:helioslyons@me.com">helioslyons@me.com</a>
            <a href="https://github.com/haelyons">github</a>
            <a href="https://pdfhost.io/v/QiOZck2fP_Microsoft_Word_Helios_CV_UKdocx.pdf">resume</a>
          </li>
          <li>
            <a href="https://uk.linkedin.com/in/h%C3%A9lios-lyons-a274a7168">linkedin</a>
            <a href="https://soundcloud.com/0x0c/tracks">soundcloud</a>
            <a href="https://www.instagram.com/helios.lyons">instagram</a>
          </li>
        </ul>
      </section>

      <section>
        <p>
          Driven by curiosity and the desire to build, looking to develop innovative software taking advantage of
          signal processing and data analysis techniques. Searching for opportunities to gain practical experience
          in the construction of robust systems with accessible, data-driven interfaces.
        </p>

        <p>
          Graduate from the University of Leeds with a First Class classification in BSc Music, Multimedia and Electronics (MME) focusing on the ideation
          and implementation of existing and emerging technologies toward the analysis, creation and creative use of sound.
          This degree encompassed a variety of EEE disciplines, from C and C++ coding for microcontroller programming,
          library creation and digital filter design to FPGA design, signal processing in Matlab and
          instrument / synthesizer design in MaxMSP and LTSpice.
        </p>

        <p>
          Over my 3rd year, I completed two significant projects worth a total of 90 credits (of 120 a year, 40 and 50 respectively).
          Firstly, I designed a multi-modal sampler through a combination of scientific, technical and artistic methodologies
          to examine our embodied relationship with music through studying the correlation between recorded sounds and body movements
          over time in TikToks. This was implemented using computer vision techniques with a Kinect and NI Mate, as well as various
          sound processing techniques to extract audio features in MaxMSP. For details, look at the <li>
          <a href="https://helioslyons.com/article/3.html">Interactive Dance Music II post.</a> </li> <br /> <br />
          My final electronics project consisted of the design and construction of a Voltage Controlled Amplifier and Digital Sequencer
          as part of a Eurorack Modular Synthesizer. This involved significant circuit analysis and design, culminating in a Triple VCA
          with separate active (OTA) and passive (JFET) options, and a Arduino-based CV-clock input Sequencer capable of 3 channels of
          pre-defined patterns output via a mono jack ‘patch’ cable.
        </p>

        <p>
          Passionate about sustainability and environmental conservation, particularly in the area of underwater noise pollution
          due to its adverse effects on marine ecosystems. I believe in individual responsibility toward the collective, especially
          within the context of climate change, and strive to apply this to my daily life and in the design of my tools.
          In my free time I play harp, compose music with Ableton Live and practice urban exploration. Over the course of
          3rd Year (Sept. 2020 to June 2021) my personal projects included working on a short choice-based interactive film;
          Almost Human, and prototyping a live audio to haptic feedback device which would extend interaction with music for those with varying levels of hearing impairment.
        </p>

        <p>
          What I’m reading at the moment: <br />
          <a href="https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow">Thinking, Fast and Slow</a> <br />
          <a href="https://www.franceculture.fr/oeuvre/le-chant-de-la-machine">Le Chant de la Machine</a> <br />
          <a href="https://wanderinginn.com/">The Wandering Inn (Web Serial)</a> <br />
        </p>
      </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
