<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <section id="about-container">
      <section>
        <ul>
          <li>
            <a href="mailto:helioslyons@me.com">helioslyons@me.com</a>
            <a href="https://github.com/haelyons">github</a>
            <a href="https://pdfhost.io/v/QiOZck2fP_Microsoft_Word_Helios_CV_UKdocx.pdf">resume</a>
          </li>
          <li>
            <a href="https://uk.linkedin.com/in/h%C3%A9lios-lyons-a274a7168">linkedin</a>
            <a href="https://www.instagram.com/helios.lyons">instagram</a>
          </li>
        </ul>
      </section>

      <section>
        <p>
          Fascinated by all things audio, looking to develop innovative
          software, design sound and compose music for live and recorded media. <br />
        </p>

        <p>
          Entering my 3rd year at the University of Leeds in Music, Multimedia
          and Electronics (BSc), I am focusing on sound design, composition and
          development of interactive performance and embedded systems. In practice
          this translates to linking hardware and microcontrollers
          such as the Kinect and Arduino with software languages such as MaxMSP
          and C++, as well developing skill in DAWs such as Ableton Live and
          Pro Tools making use of personally recorded material (harp, foley). <br />
        </p>

        <p>
          This website was made to showcase works, document my research process,
          and track ongoing projects . <br />
        </p>
      </section>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
