
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Hélios Lyons</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#F5F5F5">
  <link rel="canonical" href="helioslyons.com" />

  <link rel="preload" href="../src/scss/init.scss" as="style">
  <link rel="preload" href="../src/scss/index.scss" as="style">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/articles.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <p>There is no theory. You only have to listen. Fantasy is the law. <i> – Claude Debussy </i></p> <br  />
  </main>

  <script defer src="../src/ts/init.ts"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113147800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113147800-1');
  </script>
</body>

</html>
